<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-black">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <h2 class="m-0">GW</h2>
      </a>

      <!-- Botón despliegue -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- paginas-->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav text-end">
          <a routerLink="" class="nav-link">Home</a>
          <a routerLink="/Anime" class="nav-link">Anime</a>
          <a routerLink="/VideosAnime" class="nav-link">Videos</a>
          <a routerLink="/About" class="nav-link">About</a>
        </div>
      </div>
    </div>
  </nav>
</header>
