*{

	background-color: gray;
}

.jelou{
	color: white;
}










.Demon{
	color: pink;
	background-color: white;
}

.Demon h1{
	text-align: center;
	background-color: white;
}


.hr{
	width:100%;
	background-color: black;
}